# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Data & Logs (Quan trọng: Không push database thật và log)
data/*.sqlite
data/*.db
logs/*.log

# IDEs
.idea/
.vscode/
.gemini/
__pycache__/
